body {
    background-image: url("IMG_8315.jpg");
}
header {
    font-size: 100px;
   border: 2px solid black; 
   padding: 20px;
}
.wrapper {
    font-size: 70px;
}
p {
    background-color: blueviolet;
    border: 2px solid burlywood;
    border-radius: 10px;
    margin-bottom: 10px;
}
a {
    position: flex;
    top: 10px;
    left: 10px;
  }
  header,footer {
    padding: 1em;
    text-align: center;
  }